<?php
require_once('config.php');
session_start();
function checkToken($access_token,$user_id,$scope){

    $url = NEW_DP_URL.'index.php/Oauth2/Resource/checkToken';
    $ch = curl_init($url);
    curl_setopt($ch, CURLOPT_POST, 1);
    curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
    curl_setopt($ch, CURLOPT_URL, $url);
    $post_data = array(
        "access_token" => $access_token,
        "user_id" => $user_id,
        "scope" => $scope
    );
    curl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query($post_data));
    $curl_result=curl_exec($ch);
    $output_array = json_decode($curl_result,true);
    curl_close($ch);
    return $output_array;

}
$result = checkToken($_SESSION['access_token'],$_SESSION['user_id'],'admin');
if(!isset($result['res'])){
    header('Location: sign-in.php?error=2');exit;
}
?>
<!doctype html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title>Magic Kitchen Admin</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">

    <script src="lib/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="My97DatePicker/WdatePicker.js"></script>
    <script src="lib/jQuery-Knob/js/jquery.knob.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $(".knob").knob();
        });
    </script>


    <link rel="stylesheet" type="text/css" href="stylesheets/theme.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/premium.css">

</head>

<body class=" theme-blue">

    <!-- Demo page code -->

    <script type="text/javascript">
        $(function() {
            var match = document.cookie.match(new RegExp('color=([^;]+)'));
            if(match) var color = match[1];
            if(color) {
                $('body').removeClass(function (index, css) {
                    return (css.match (/\btheme-\S+/g) || []).join(' ')
                })
                $('body').addClass('theme-' + color);
            }

            $('[data-popover="true"]').popover({html: true});
            
        });

        $(function(){
            var mydate = new Date();
            var str = mydate.getFullYear()+'-'+(mydate.getMonth()+1)+'-'+mydate.getDate();
            $("#d1").val(str);
            $("#d1").attr("readonly",true);
        });
    </script>
    <script>
        function printitem(){
            document.body.innerHTML=document.getElementById('printZone').innerHTML;
            window.print();
            window.location.reload();
        }
    </script>
    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover { 
            color: #fff;
        }
        body{
            font-size: 12px;
        }
    </style>

    <script type="text/javascript">
        $(function() {
            var uls = $('.sidebar-nav > ul > *').clone();
            uls.addClass('visible-xs');
            $('#main-menu').append(uls.clone());
        });
    </script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  

  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
   
  <!--<![endif]-->

    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="" href="index.php"><span class="navbar-brand"><span class="fa fa-coffee"></span> Magic Kitchen</span></a></div>

        <div class="navbar-collapse collapse" style="height: 1px;">
          <ul id="main-menu" class="nav navbar-nav navbar-right">
            <li class="dropdown hidden-xs">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span><?php echo $_SESSION['username'];?>
                    <i class="fa fa-caret-down"></i>
                </a>

              <ul class="dropdown-menu">
                <li><a href="./">My Account</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Admin Panel</li>
                <li><a href="./">Users</a></li>
                <li><a href="./">Security</a></li>
                <li><a tabindex="-1" href="./">Payments</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" href="logout.php">Logout</a></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </div>
    

    <div class="sidebar-nav">
    <ul>
    <li><a href="#" data-target=".dashboard-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-fw fa-dashboard"></i>生产环节<i class="fa fa-collapse"></i></a></li>
    <li><ul class="dashboard-menu nav nav-list collapse in">
            <li><a href="index.php"><span class="fa fa-caret-right"></span> 主页</a></li>
            <li ><a href="productCount.php?instant=&store_code=888"><span class="fa fa-caret-right"></span> 预订总数</a></li>
            <li ><a href="pickupCount.php?instant=&store_code=888"><span class="fa fa-caret-right"></span> 取餐-预订总数</a></li>
            <li ><a href="pickupOrder.php?instant=&store_code=888"><span class="fa fa-caret-right"></span> 取餐-订单</a></li>
            <li ><a href="deliveryOrder.php?instant=&store_code=888"><span class="fa fa-caret-right"></span> 配送-订单</a></li>
    </ul></li>

        <li><a href="#" data-target=".accounts-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-fw fa-briefcase"></i> 即时点餐查询 <i class="fa fa-collapse"></i></a></li>
        <li><ul class="accounts-menu nav nav-list collapse in">
            <li ><a href="pickupOrder.php?instant=true&store_code=888"><span class="fa fa-caret-right"></span> 即时点餐-取餐</a></li>
            <li ><a href="deliveryOrder.php?instant=true&store_code=888"><span class="fa fa-caret-right"></span> 即时点餐-配送</a></li>
    </ul></li>
        <li><a href="#" data-target=".order-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-fw fa-briefcase"></i> 订单详情查询 <i class="fa fa-collapse"></i></a></li>
        <li><ul class="order-menu nav nav-list collapse in">
            <li ><a href="searchOrder.php?store_code=888"><span class="fa fa-caret-right"></span> 订单搜索</a></li>
<!--            <li ><a href="pickupOrder.php?instant=&store_code=888"><span class="fa fa-caret-right"></span> 取餐-订单</a></li>-->
<!--            <li ><a href="deliveryOrder.php?instant=&store_code=888"><span class="fa fa-caret-right"></span> 配送-订单</a></li>-->
        </ul></li>
    </ul>
<!--        <li><a href="#" data-target=".legal-menu" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-legal"></i> Legal<i class="fa fa-collapse"></i></a></li>-->
<!---->
<!--        <li><a href="help.html" class="nav-header"><i class="fa fa-fw fa-question-circle"></i> Help</a></li>-->
<!--            <li><a href="faq.html" class="nav-header"><i class="fa fa-fw fa-comment"></i> Faq</a></li>-->
<!--                <li><a href="http://portnine.com/bootstrap-themes/aircraft" class="nav-header" target="blank"><i class="fa fa-fw fa-heart"></i> Get Premium</a></li>-->
<!--            </ul>-->
    </div>
